# ============================
# ASP.NET / Visual Studio
# ============================
.vs/
*.suo
*.user


# =============================
# TheArtOfLewisMoorcroft.Core
# =============================
TheArtOfLewisMoorcroft.Core/[Bb]in/*
TheArtOfLewisMoorcroft.Core/[Oo]bj/*


# =============================
# TheArtOfLewisMoorcroft.Web
# =============================
TheArtOfLewisMoorcroft.Web/[Bb]in/*
TheArtOfLewisMoorcroft.Web/[Oo]bj/*
TheArtOfLewisMoorcroft.Web/App_Data/NuGetBackup/*


# =============================
# NuGet
# =============================
packages/*
